<!DOCTYPE html>
<html>

<head>
    <title>TwitPictViewer</title>
</head>

<body>
    <h1>TwitPictViewer</h1>
    <form method="GET" action="/viewer">
        <input type="text" name="id" placeholder="IDを入力してください">
        <input type="submit" value="送信">
    </form>
</body>

</html>