<h1 class="mt-5">TwitPictViewer</h1>
<p class="lead">TwitterアカウントのIDを指定して画像を見ることが出来ます。</p>
<p class="lead">見れる画像は過去3200ツイート内で呟かれたものです。</p>
<p class="lead">画像サイズが大きいと画像の表示に少し時間がかかります。</p>
<form method="POST" action="/viewer">
    <div class="row">
        <div class="input-group mb-3 col-md-8">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input class="form-control" type="text" name="id" placeholder="IDを入力してください">
        </div>
        <div class="col-md-1">
            <input class="btn btn-outline-dark my-2 my-sm-0" id="submit" type="submit" value="検索">
        </div>
    </div>
</form>