<head>
    <link rel="stylesheet" href="/public/dist/luminous-basic.min.css">
    <link rel="stylesheet" href="/public/css/viewer.css">
    <script type="text/javascript" src="/public/dist/luminous.min.js"></script>
</head>

<h1 class="mt-5">ユーザID: <%- id %></h1>

<div id="spinner" class="d-flex justify-content-center">
    <div class="spinner-grow text-info" style="width: 6rem; height: 6rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<h1 id="imagescount"></h1>
<div id="images"></div>
<br>
<div class="pagination justify-content-center" id="pagenav"></div>
<br>

<script type="text/javascript" src="/public/javascript/viewer.js"></script>
<script type="text/javascript" src="/public/javascript/pager.js"></script>

<script>
    // ページ読み込みが完了したときに実行
    $(function () {
        $.getJSON(`/api/get_images?id=<%= id %>`, (images) => {
            $('#spinner').remove();
            makePageNav(images);
        });
    });
</script>