<head>
    <link rel="stylesheet" href="/public/dist/luminous-basic.min.css">
    <link rel="stylesheet" href="/public/css/viewer.css">
    <script type="text/javascript" src="/public/dist/luminous.min.js"></script>
</head>

<h1 class="mt-5">ユーザID: <%- id %></h1>
<h1 class="mt-3"><%- images.length %>枚の画像</h1>

<% for (const image of images) { %>
<a href="<%- image %>" class="luminous">
    <img src="<%- image %>" class="view" alt="画像">
</a>
<% } %>
<script type="text/javascript" src="/public/javascript/viewer.js"></script>