<!DOCTYPE html>
<html>

<head>
    <title>TwitPictViewer</title>
</head>
<body>
    <h1><%- id %></h1>
    <form method="GET" action="/">
        <input type="submit" value="戻る">
    </form>
    <% for (let list of image) { %>
        <img src="<%= list %>">
    <% } %>
</body>

</html>